.contact{
    min-height: 100vh;
    overflow: auto;
    width: 100%;
    background-color: white;
    color: rgb(134, 134, 134);
    text-align: center;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
}

#contact h1{
    font-size: 2rem;
}

#contact h5{
    font-size: 1.2rem;
}

.contactLinks{
    color: rgb(134, 134, 134);
    text-decoration: none;
    font-size: larger;
}

.contactLinks:hover{
    color: rgb(128, 3, 3);
    text-decoration: underline;
}

.contactImage{
    height: 80vh;
    border-radius: 100px;
    object-fit: cover;
    max-width: 100%;
}

.contactLinkDetail{
    color:rgb(128, 3, 3);
}

@media (max-width: 1200px){
    .contactLinks{
        text-decoration: none;
        font-size: 1.2rem;
    }
    .contact h1 strong{
        font-size: 1.5rem;
    }
    .contact h4{
        font-size: 1.2rem;
    }
}