.contact{
    background-color:  rgb(46, 35, 43);;
    color: rgb(134, 134, 134);
    text-align: center;
    font-size: 150%;
}

.contactLinks{
    color: rgb(134, 134, 134);
    text-decoration: none;
}

.contactLinks:hover{
    color: rgb(199, 196, 196);
    text-decoration: none;
}

.contactImage{
    margin-top: 10%;
    height: 80vh;
    border-radius: 100px;
    object-fit: cover;
}