html{
    scroll-behavior: smooth;
}

body{
    background: white;
    font-family: 'Lato',sans-serif;
    color:white;
    height: 100vh;
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar:hover {
    width: 12px;
}

body::-webkit-scrollbar-thumb {
    background: rgb(134, 134, 134);
    border-radius: 20px;
}
  
body::-webkit-scrollbar-track {
    background: rgb(100, 100, 100);
}

.parallax{
    background-image: url(../images/toronto.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}