#mainNavbar{
    color: white;
}
#mainNavbar .navbar-brand{
    color:white;
    font-weight: 700;
}

#mainNavbar .nav-link{
    color: rgb(134, 134, 134);
}

#mainNavbar .nav-link:hover{
    color: white;
    text-decoration: none;
}
#mainNavbar .nav-item{
    box-sizing: border-box;
}
#mainNavbar .nav-item:hover {
    margin-bottom: -2px;
    border-bottom: 2px solid;
}


.navbar.scrolled{
    color:black;
    background: rgb(255, 255, 255, 0.95);
    padding-top: 0px;
    padding-bottom: 0px;
    border-bottom: 1px solid rgb(240, 240, 240);;
    transition: all 500ms;
}

.navbar.unscrolled{
    background: none;
    padding-top: 8px;
    padding-bottom: 8px;
    transition: all 500ms;
}

.disappear{
    display: none;
}

.changeBlack{
    color:rgb(94, 19, 23);
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

#mainNavbar .textColour{
    color: black;
}
#mainNavbar .textColour:hover{
    color: rgb(128, 3, 3);
    margin-bottom: -2px;
    border-bottom: 2px solid;
}