
.preload-Wrapper{
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  background-color: rgb(28, 27, 27);
  display: flex;
  justify-content: center;
  align-items: center;
}

.preload-Wrapper.hidden{
  animation: fadeOut .5s;
  animation-fill-mode: forwards;
}

.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 3px solid rgb(46, 35, 43);
  animation: loader 2s infinite ease;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: rgb(46, 35, 43);
  animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  
  25% {
    transform: rotate(180deg);
  }
  
  50% {
    transform: rotate(180deg);
  }
  
  75% {
    transform: rotate(360deg);
  }
  
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }
  
  25% {
    height: 0%;
  }
  
  50% {
    height: 100%;
  }
  
  75% {
    height: 100%;
  }
  
  100% {
    height: 0%;
  }
}

@keyframes fadeOut{
  
  50%{
    opacity: 0.5;
  }
  100%{
    opacity: 0;
    visibility: hidden;
  }
}